<launch>
    <!-- 将 Urdf 文件的内容加载到参数服务器 -->
    <!-- <param name="robot_description"
        command="$(find xacro)/xacro $(find my_robot_navigation)/urdf/robot.xacro" /> -->
    <!-- 启动 gazebo -->

    <!-- 加载仿真环境 -->
    <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find my_robot_navigation)/worlds/box_house.world"></arg>
    </include> -->

    <!-- 加载rviz.launch -->
    <!-- <include file="$(find my_robot_navigation)/launch/rviz.launch" /> -->
    <!-- 启动move.launch -->
    <include file="$(find my_robot_navigation)/launch/move.launch" />

    <!-- 加载slam_gampping -->
    <include file="$(find my_robot_navigation)/launch/slam_gmapping.launch" />

    <!-- 加载robot_nav.py -->
    <!-- <node pkg="my_robot_navigation" type="robot_nav.py" name="robot_nav" output="screen" /> -->

    <!-- 加载yolov5_detector.launch -->
    <!-- <include file="$(find Yolov5_ros)/launch/yolo_v5.launch" /> -->

</launch>