<launch>
    <!-- 将 Urdf 文件的内容加载到参数服务器 -->
    <param name="robot_description"
        command="$(find xacro)/xacro $(find my_robot_navigation)/urdf/robot.xacro" />
    <!-- 启动 gazebo -->

    <!-- 加载仿真环境 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find my_robot_navigation)/worlds/box_house.world"></arg>
    </include>

    <!-- 加载rviz.launch -->
    <include file="$(find my_robot_navigation)/launch/rviz.launch" />

    <!-- 加载slam_gampping -->
    <include file="$(find my_robot_navigation)/launch/slam_gmapping.launch" />

    <!-- 加载main.py -->
    <!-- <node pkg="my_robot_navigation" type="main.py" name="main" output="screen" /> -->

    <!-- ros_control arm launch file -->
    <include file="$(find sunday_gazebo)/launch/sunday_gazebo_states.launch" />

    <!-- ros_control trajectory control dof arm launch file -->
    <include file="$(find sunday_gazebo)/launch/sunday_trajectory_controller.launch" />

    <!-- moveit launch file -->
    <include file="$(find sunday_moveit_config)/launch/moveit_planning_execution.launch">
    </include>

    <!-- 在 gazebo 中显示机器人模型 -->
    <node pkg="gazebo_ros" type="spawn_model" name="model"
        args="-urdf -model mycar -param robot_description" />
</launch>